* {
  box-sizing: border-box;
}
h1 {
  font-size: 32px;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0 1%;
}

#Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid;
  padding: 5px 10px;
}

.Nav-brand {
  font-weight: bolder;
  font-style: normal;
  font-size: large;
  margin: 0;
  padding: 0;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}
